---
import Logout from "@components/Logout.tsx";
import TodoHandler from "@components/TodoHandler.astro";
import Layout from "@layouts/Layout.astro";

if (!(await Astro.session?.get("userId"))) {
  const returnTo = Astro.url.pathname.trim();

  if (returnTo && returnTo !== "/" && returnTo !== "/login") {
    return Astro.redirect(`/login?return=${encodeURIComponent(returnTo)}`);
  } else {
    return Astro.redirect("/login");
  }
}
---

<Layout>
  <!-- fully center -->
  <main class="flex min-h-screen flex-col items-center justify-center">
    <TodoHandler />
    <Logout client:idle />
  </main>
</Layout>
