---
import { actions } from "astro:actions";
import TodoList from "@components/Todo.tsx";

const user = await Astro.session?.get("userId");

if (!user) {
  const returnTo = Astro.url.pathname.trim();

  if (returnTo && returnTo !== "/" && returnTo !== "/login") {
    return Astro.redirect(`/login?return=${encodeURIComponent(returnTo)}`);
  } else {
    return Astro.redirect("/login");
  }
}

const { data, error } = await Astro.callAction(actions.getTodos, {});
console.log(data)
---

{
  data ? (
    <TodoList todos={data} client:visible />
  ) : (
    <p>ERROR WHILE FECHING: {error}</p>
  )
}
